.navbar{
    display: flex;
    height: auto;
    border-bottom: 1px solid #E5E5E5;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: auto;
}
.firstLayer{
    width: 100%;
    display: flex;
    padding: 3rem;
    padding-inline: 4rem;
    justify-content: space-between;
    align-items: center;
}

.secondLayer{
    display: flex;
    gap: 64px;
    height: 24px;
    margin: auto;
    margin-block : 1rem;
}
.firstLayer .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.firstLayer .centerText{
        font-weight: 800;
        font-size: 36px;
        letter-spacing: 1px;
        margin-left: 12%;

}
.firstLayer .icons{
    display: flex;
    gap : 24px;
}
.secondLayer span{
    height: 24px;
    font-weight: 700;
    font-size: 1.25rem;
    letter-spacing: 1px;
}
.openbar{
    margin-right: 8px;
    height: 1.7rem;
    width: 1.7rem;
    display: none;
}

.linkSection{
    margin: 1.5rem;
    font-size: 1.2rem;
    letter-spacing: 1px;
    display: none;
}

@media (max-width:645px) {
    .icons .language{
        display: none;
    }
    .icons .profile{
        display: none;
    }
    .firstLayer{
        padding-inline: 0.7rem;
        padding-block: 1rem;
    }
    .secondLayer{
        gap: 2rem;
    }
     .secondLayer span{
        font-size: 1rem;
        letter-spacing: 0;
    }
}

@media (max-width:435px){
    .secondLayer{
        display: none;
    }
    
    .firstLayer .centerText{
        font-size: 1.7rem;
        margin-left: 0;
    }
    .firstLayer .logo img{
        height: 2rem;
        width: 2rem;
    }
    .firstLayer .icons{
        gap: 12px;
    }
    .openbar{
        display: inline;
    }
    .linkSection{
        display: block;
    }
}



