*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Simplon Norm";
  src: url("https://db.onlinewebfonts.com/t/ca671f001f1c1ac07ba12ef439e7e65a.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Simplon Norm", sans-serif;
}