.productContainer {
  display: grid;
  gap: 30px;
}
.three{
    grid-template-columns: repeat(3, minmax(0, 1fr));
}
.four{
     grid-template-columns: repeat(4, minmax(0, 1fr));
}

.productContainer {
  display: grid;
  gap: 20px;
}

/* 🔵 Default (Large screens) */
.three {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.four {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}


@media (max-width: 1024px) {
  .three {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .four {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}


@media (max-width: 600px) {
  .three {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .four {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

