.dropdown{
    text-align: right;
    font-size: 18px;
    line-height: 40px;
    font-weight: 400;
    background-color: #FFF;
    box-shadow: 0px 0px 7px 1px #A3AAAF33;
    padding: 25px;
    color: #252020;
    position: absolute;
    top: 40px;
    right : 0px;
    width: auto;
    z-index: 2;
}
.dropdown .option {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: flex-end;
    white-space: nowrap;
    padding-block: 5px;
}
.active{
    font-weight: 700;
}

@media (max-width : 445px) {
    .dropdown{
        font-size: 1rem;
        padding-block: 10px;
    }
    .dropdown .option{
        padding-block:0;
    }
}